@page "/"
@using MudBlazor.Docs
@layout MainLayout


<MudContainer MaxWidth="MaxWidth.False" Class="trymudblazor-index-appbar">
    <MudAppBar Color="Color.Transparent" Position="Position.Relative" Elevation="0">
        <div class="mudblazor-brand">
            <span style="color: #594ae2;">HardwebBlazor</span>
        </div>
        <MudSpacer />
        <div class="mud-toolbar-centered-links">
          <MudButton Link="https://github.com/mars-low/HardwebBlazor" Color="Color.Primary" Size="Size.Large">Source Code</MudButton>
        </div>
    </MudAppBar>
</MudContainer>
<MudContainer MaxWidth="MaxWidth.Large" Class="py-16">
    <MudGrid>
        <MudItem md="6" xs="12" Class="d-flex justify-center align-center">
            <MudBlazorLogo />
        </MudItem>
        <MudItem md="6" xs="12"  Class="d-flex justify-center align-center">
            <div class="trymudblazor-index mt-12">
                <MudText Typo="Typo.h1" Align="Align.Center">
                    <span style="color: #594ae2;">HardwebBlazor</span>
                </MudText>
                <MudText Typo="Typo.h5" Class="my-5" Align="Align.Center">
                    Web USB and Web Bluetooth prototyping with Blazor.
                </MudText>
                <div class="px-6 mt-8">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Link="/snippet">Try out now</MudButton>
                </div>
            </div>
        </MudItem>
    </MudGrid>
</MudContainer>
<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudPaper Elevation="24" Class="trymudblazor-paper">
        <MudGrid Spacing="10">
            <MudItem md="4">
                <div class="trymudblazor-paper-item">
                    <MudText Typo="Typo.h5" GutterBottom="true" Align="Align.Center" Color="Color.Primary">
                        IoT in your browser
                    </MudText>
                    <MudText Typo="Typo.h6" Align="Align.Center" Style="color:#9e9e9e;">
                        Play with BLE and USB devices entirely in the browser. 
                        Works on both desktop and mobile.
                        Share components as a plain text and compile them in the browser on the go.
                    </MudText>
                </div>
            </MudItem>
            <MudItem md="4">
                <div class="trymudblazor-paper-item">
                    <MudText Typo="Typo.h5" GutterBottom="true" Align="Align.Center" Color="Color.Secondary">
                        Based on open source
                    </MudText>
                    <MudText Typo="Typo.h6" Align="Align.Center" Style="color:#9e9e9e;">
                        Based on 
                        <MudLink Typo="Typo.h6" Color="Color.Default" Href="https://github.com/BlazorRepl/BlazorRepl">Blazor REPL</MudLink>, 
                        <MudLink Typo="Typo.h6" Color="Color.Default" Href="https://github.com/Garderoben/MudBlazor">MudBlazor</MudLink>, 
                        <MudLink Typo="Typo.h6" Color="Color.Default" Href="https://github.com/BlazorExtensions/WebUSB">Blazor.Extensions.WebUSB</MudLink>,
                        <MudLink Typo="Typo.h6" Color="Color.Default" Href="https://github.com/EngstromJimmy/Blazm.Bluetooth">Blazm.Bluetooth</MudLink> 
                        which are free to use and open source.
                    </MudText>
                </div>
            </MudItem>
            <MudItem md="4">
                <div class="trymudblazor-paper-item">
                    <MudText Typo="Typo.h5" GutterBottom="true" Align="Align.Center">
                        Fast and secure
                    </MudText>
                    <MudText Typo="Typo.h6" Align="Align.Center" Style="color:#9e9e9e;">
                        HardwebBlazor is a static website. 
                        Everything is happening on your side.
                        Keep your BLE and USB devices secure. 
                        Use it for fast prototyping or anything else.
                    </MudText>
                </div>
            </MudItem>
        </MudGrid>
    </MudPaper>
</MudContainer>
<Footer />

@code{

    string Version
    {
        get
        {
            var v= typeof(MudText).Assembly.GetName().Version;
            return $"v{v.Major}.{v.Minor}.{v.Build}";
        }
    }

}